examples/Use_Cases/nextjs_rag_workflow.json
{
  "name": "NextJS Codebase RAG System",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "LIBRARY_NAME",
              "value": "nextjs_rag_lib"
            },
            {
              "name": "SOURCE_PATH",
              "value": "./tests/data/nextjs_project"
            },
            {
              "name": "USER_QUERY",
              "value": "How do I add a Login button component?"
            }
          ]
        }
      },
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "2"
    },
    {
      "parameters": {
        "command": "=export PYTHONPATH=$PYTHONPATH:.\nexport LIBRARY_NAME=\"{{ $json.LIBRARY_NAME }}\"\nexport SOURCE_PATH=\"{{ $json.SOURCE_PATH }}\"\npython3 examples/Use_Cases/n8n_scripts/ingest.py"
      },
      "name": "Ingest Codebase",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "id": "3"
    },
    {
      "parameters": {
        "command": "=export PYTHONPATH=$PYTHONPATH:.\nexport USER_QUERY=\"{{ $('Configuration').item.json.USER_QUERY }}\"\npython3 examples/Use_Cases/n8n_scripts/classify.py"
      },
      "name": "Classify Intent",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "id": "4"
    },
    {
      "parameters": {
        "command": "=export PYTHONPATH=$PYTHONPATH:.\nexport LIBRARY_NAME=\"{{ $('Configuration').item.json.LIBRARY_NAME }}\"\nexport USER_QUERY=\"{{ $('Configuration').item.json.USER_QUERY }}\"\npython3 examples/Use_Cases/n8n_scripts/search.py"
      },
      "name": "Semantic Search",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "id": "5"
    },
    {
      "parameters": {
        "command": "=export PYTHONPATH=$PYTHONPATH:.\nexport USER_QUERY=\"{{ $('Configuration').item.json.USER_QUERY }}\"\necho '{{ JSON.stringify($json) }}' | python3 examples/Use_Cases/n8n_scripts/rerank.py"
      },
      "name": "Rerank Results",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "id": "6"
    },
    {
      "parameters": {
        "command": "=export PYTHONPATH=$PYTHONPATH:.\nexport USER_QUERY=\"{{ $('Configuration').item.json.USER_QUERY }}\"\necho '{{ JSON.stringify($json) }}' | python3 examples/Use_Cases/n8n_scripts/inference.py"
      },
      "name": "Generate Plan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "id": "7"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Ingest Codebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Codebase": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Semantic Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Search": {
      "main": [
        [
          {
            "node": "Rerank Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rerank Results": {
      "main": [
        [
          {
            "node": "Generate Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
